@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: linear-gradient(to right, #84ffc9, #aab2ff,#eca0ff);
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
  justify-content: center;
}

.calculator-grid > button {
  font-family: Orbitron;
  cursor:pointer;
  font-size: 1.8rem;
  border: 1.5px solid white;
  border-radius: 3px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 0.95)
}

.calculator-grid > button:hover
{
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}

.span-two{
  grid-column: span 2;
}

.output {
  grid-column: 1/5;
  background-color: rgba(0, 0, 0, 0.55);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.95);
  font-size: 1.5rem;
}

.output .current-operand {
  color: rgba(255, 255, 255, 0.95);
  font-size: 2.5rem;
}

.footer{
  display: flex;
  margin-top: 2.5rem;
  justify-content: center;
}

.heading{
  display: flex;
  justify-content: center;
}